.container {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 250px;
}

.item {
    border: 1px solid black;
    padding: 20px;
}

.idx {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}